@keyframes deleteCharacterAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scaleY(0) translateX(100vw);
    padding: 0;
    height: 0;
  }
}

.deleteCharacterAnimation {
  animation-name: deleteCharacterAnimation;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  transition: all 450ms linear;
  transform-origin: top center;
}

@keyframes addCharacterAnimation {
}
