.popup {
  position: absolute;
  z-index: 900;
  inset: 0;
  padding: 3rem 1.5rem;
  display: none;
  width: 100dvw;
  height: 100dvh;
  background: rgba(39, 53, 77, 0.7);
  backdrop-filter: blur(2px);

  &__close {
    position: absolute;
    right: 0.75rem;
    top: 0.75rem;
    cursor: pointer;
    transition: fill 0.3s linear;
    background-color: transparent;
    border: 0;
    &:hover {
      fill: #d15f3c;
    }
  }
  &--active {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    margin-bottom: 0.75rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__add-character {
    margin-top: 0.875rem;

    &__input {
      display: none;
    }

    &__input-label {
      display: flex;
      align-items: center;
      gap: 0.75em;
      border-radius: 0.75em;
      border: 2px solid $text-color;
      width: 100%;
      padding: 0.5em 0.75em;
      margin: 0 auto;
      border-radius: 0.75em;
      border: 2px solid currentColor;
      color: currentColor;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.2s linear, color 0.2s linear;
      &:hover,
      &:focus {
        background-color: $text-color;
        color: $blue-color;
        outline-color: $tomato-color;

        border-color: transparent;
      }

      p {
        font-size: 16px;
      }
    }
  }

  &__input-container {
    display: flex;
    align-items: center;
    label {
      margin-right: 0.75rem;
      margin-left: 0.25rem;
      font-family: 'Special Elite';
    }
    margin: 0.75rem 0;

    input[type='radio'] ~ label {
      line-height: 4px;
    }

    &__group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      div {
        max-width: 18.75rem;

        width: 100%;
      }
    }
    &__input {
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      width: 100%;
      max-width: 25rem;
    }
  }

  &__preview-image {
    aspect-ratio: 1/1;
    max-height: 150px;
    max-width: 150px;
    margin: 2rem auto;
    display: block;
    border-radius: 1rem;
  }

  &__submit {
    padding: 1rem 0;
    font-size: 1.75rem;
    font-family: 'Special Elite';
    cursor: pointer;
    border-radius: 0.75rem;
    margin-top: auto;
    border: 0;
  }
}
