@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  background: $blue-color;
  color: $text-color;
  font-family: 'QuickSand';
  padding: 2rem;
}

section:not(.popup) {
  margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Special Elite';
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 3rem 0 0.5rem;
  h1 {
    text-align: center;
  }
  &__add-character {
    margin: 0.5rem 0;
    text-align: center;
    &__button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      font-size: 0;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}

@import 'characters';
@import 'popup';
