.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg {
  pointer-events: none;
}

html,
body {
  min-height: 100%;
}

body {
  background: #27354d;
  color: #eee;
  font-family: "QuickSand";
  padding: 2rem;
}

section:not(.popup) {
  margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Special Elite";
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 3rem 0 0.5rem;
}
.main-container h1 {
  text-align: center;
}
.main-container__add-character {
  margin: 0.5rem 0;
  text-align: center;
}
.main-container__add-character__button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.characters:not(:has(div)) {
  display: none;
}

#mobs .characters__title {
  color: #ff6347;
}

.characters__title {
  margin-bottom: 1.5rem;
}
.characters + .characters {
  margin-bottom: 2.75rem;
}
.characters__character-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  background-color: #4c7bcd;
  border-radius: 0.5rem;
  height: 12.5rem;
  padding: 1.5rem 1rem;
}
.characters__character-container[data-type=monster] {
  background-color: salmon;
}
.characters__character-container + .characters__character-container {
  margin-top: 1.5rem;
}
.characters__character-container:last-child {
  margin-bottom: 2rem;
}
.characters__character-container__image-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.characters__character-container__image {
  max-width: 9.375rem;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.characters__character-container__name {
  text-shadow: 2px 4px 3px rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Special Elite";
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: center;
}
.characters__character-container__attributes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.characters__character-container__attribute-button {
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Special Elite;
  line-height: 2px;
}
.characters__character-container__attribute-button[data-attribute*=hp] {
  background-color: #ff6347;
  color: #16161d;
}
.characters__character-container__attribute-button[data-attribute*=hp]:hover {
  background-color: #ff8e7a;
}
.characters__character-container__attribute-button[data-attribute*=hp]:active {
  background-color: #ff3814;
}
.characters__character-container__attribute-button[data-attribute*=ap] {
  background-color: #27354d;
  color: white;
}
.characters__character-container__attribute-button[data-attribute*=ap]:hover {
  background-color: #384c6f;
}
.characters__character-container__attribute-button[data-attribute*=ap]:active {
  background-color: #161e2b;
}
.characters__character-container__attribute-button[data-attribute*=sanity] {
  background-color: #eee;
  color: #27354d;
}
.characters__character-container__attribute-button[data-attribute*=sanity]:hover {
  background-color: white;
}
.characters__character-container__attribute-button[data-attribute*=sanity]:active {
  background-color: #d5d5d5;
}
.characters__character-container__delete-character {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 0;
  aspect-ratio: 1;
  width: 47px;
  padding: 0.125rem;
  background-color: #eee;
  cursor: pointer;
}
.characters__character-container__delete-character:hover {
  background-color: #bbbbbb;
}
.characters__character-container__delete-character:active {
  background-color: #27354d;
}
.characters__character-container__position-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.characters__character-container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4c7bcd;
  background: #eee;
  padding: 0.15rem;
  border: 0;
  font-size: 0;
  height: 45px;
  border-radius: 8px;
  aspect-ratio: 2/2;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
  cursor: pointer;
}
.characters__character-container__button:hover {
  background-color: #d5d5d5;
}
.characters__character-container__button:active {
  background-color: #27354d;
  color: #eee;
}

.popup {
  position: fixed;
  z-index: 900;
  inset: 0;
  padding: 3rem 1.5rem;
  display: none;
  height: 100dvh;
  width: 100dvw;
  background: rgba(39, 53, 77, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.popup--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__close {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
.popup__close svg {
  -webkit-transition: fill 0.3s linear;
  transition: fill 0.3s linear;
}
.popup__close svg:hover {
  fill: #ff3814;
}
.popup__title {
  text-align: center;
  margin-bottom: 0.75rem;
}
.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.popup__add-character {
  margin-top: 0.875rem;
}
.popup__add-character__input {
  display: none;
}
.popup__add-character__input-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75em;
  border-radius: 0.75em;
  border: 2px solid #eee;
  width: 100%;
  padding: 0.5em 0.75em;
  margin: 0 auto;
  border-radius: 0.75em;
  border: 2px solid currentColor;
  color: currentColor;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.popup__add-character__input-label:hover, .popup__add-character__input-label:focus {
  background-color: #eee;
  color: #27354d;
  outline-color: #ff6347;
  border-color: transparent;
}
.popup__add-character__input-label p {
  font-size: 16px;
}
.popup__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.75rem 0;
}
.popup__input-container label {
  margin-right: 0.75rem;
  margin-left: 0.25rem;
  font-family: "Special Elite";
}
.popup__input-container input[type=radio] ~ label {
  line-height: 4px;
}
.popup__input-container__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}
.popup__input-container__group div {
  max-width: 18.75rem;
  width: 100%;
}
.popup__input-container__input {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  width: 100%;
  max-width: 25rem;
}
.popup__preview-image {
  aspect-ratio: 1/1;
  max-height: 150px;
  max-width: 150px;
  margin: 2rem auto;
  display: block;
  border-radius: 1rem;
}
.popup__submit {
  padding: 1rem 0;
  font-size: 1.75rem;
  font-family: "Special Elite";
  cursor: pointer;
  border-radius: 0.75rem;
  margin-top: auto;
  border: 0;
}

@media (max-width: 470px) {
  .popup__close {
    right: 0.5rem;
    top: 0.5rem;
  }
}
@media screen and (max-width: 960px) {
  .popup__input-container__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 655px) {
  .popup__input-container__input {
    max-width: initial;
  }
  .popup__input-container__group div {
    max-width: initial;
  }
}
@-webkit-keyframes deleteCharacterAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0) translateX(100vw);
            transform: scaleY(0) translateX(100vw);
    padding: 0;
    height: 0;
  }
}
@keyframes deleteCharacterAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0) translateX(100vw);
            transform: scaleY(0) translateX(100vw);
    padding: 0;
    height: 0;
  }
}
.deleteCharacterAnimation {
  -webkit-animation-name: deleteCharacterAnimation;
          animation-name: deleteCharacterAnimation;
  -webkit-animation-duration: 450ms;
          animation-duration: 450ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transition: all 450ms linear;
  transition: all 450ms linear;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes addCharacterAnimation {}

@keyframes addCharacterAnimation {}